*{
    margin: 0;
    padding: 0%;
}
/*Boostrap*/

a {
    color: black;
    text-decoration: none;
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 600;
    line-height: 1.2;
}
dl, ol, ul {
    margin-top: 0;
    margin-bottom: 1rem;
}

.menu a{
    font-weight: 600;
}

body {
    font-family: unset;

}
.footerRedes{
    margin: 0;
}
input{
    margin: 0; 
font-family: sans-serif;
 font-size: small; 
line-height: normal ;
}
*, ::after, ::before {
  box-sizing: none;
}
.content-menu img{
    box-sizing: content-box;
}

header nav ul {   
    display:inline-flex;
    align-items: center;

}

/*Botones*/
.filtrado {
    font-family: 'Roboto', sans-serif;
    display: inline-block;
    color: black;
    font-weight: 500;
    text-decoration: none;
    padding: 10px 0;
    transition: 0.3s; 
}
  .subTitulo3{
    font-family: 'Roboto', sans-serif;
  }
.filtrado:hover {
    background: rgb(160, 160, 160);
    width: 100%;
}

header a{
 text-decoration: none;
}

main{
    width: 100%;
    height: 325px;
    background-color: rgb(226, 226, 226);    
}


/*QUIENES SOMOS*/

.quienesSomos{
    padding-left: 15%;
    padding-right: 15%;
    margin-top: 85px;
    margin-bottom: 85px;
}
.quienesSomosTitulo{
    font-family: 'Playfair Display', serif;
    font-weight: 700;
    font-size: 24px;
}
.quienesSomosSubTitulo{
    font-family: 'Playfair Display', serif;
    font-weight: 700;
    font-size: 1.4rem;
}

.quienesSomosSubTituloP{
    font-family: 'Playfair Display', serif;
    font-weight: 700;
    font-size: 1.1rem;
}

.quienesSomosParrafo{
    font-family: 'Roboto', sans-serif;
    font-weight:400;
    margin-top:30px;
    font-size: 1rem;
}

.quienesSomos hr{
    height: 0.5px;
    color: black;
    background-color: black;
    margin-bottom: 45px;
    margin-top: 45px;
}

.todosNuestrosProductos{
    background-color: #99d6e5;  
    padding-top: 55px;
    padding-bottom: 55px;
    padding-left: 15%;
    padding-right: 15%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.todosNuestrosProdUno{
    width: 33.333%;
}

.todosNuestrosProdDos{
    width: 66.666%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
}

.TodosNuestrosP{
    margin-left: 5%;
    width: 150px;
    height: auto;
    text-align: center;
}

.TodosNuestrosP img{
    width: 100%;
    height: auto;
    margin-bottom: 10px;
}


.TodosNuestrosP h4{
    font-family: 'Playfair Display', serif;
    font-weight: 700;
    font-size: 1rem;
}


/*PRODUCTOS*/
.imgProductos{
    width: 100%;
    height: auto;
}
.productosListaContenedor{
    width: 80%;
    margin-bottom: 4%; 
    padding-left:8%;

}

.productosLista{
    padding-top: 4%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}
  
  .productosSeccion {
    padding-top: 6%;
    width: 20%;
    border-radius: 9px;
    height: auto; 
}
  
  .prodoductosContenedor {
    padding-top: 5%;
    padding-left: 15%;
    padding-right: 15%;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: center; 
}
  
  .productos {
      text-align: center;
    width: 220px;
    height: auto;
    margin: 10px;
}


    .filtro{
     margin-bottom: 60px;
    }

.filtroDrop{
    display: none;
}

.filtrado2 {
    font-family: 'Roboto', sans-serif;
    display: inline-block;
    color: black;
    font-weight: 500;
    text-decoration: none;
    padding: 3px 0;
    transition: 0.3s; 
}
  
.filtrado2:hover {
    background: rgb(160, 160, 160);
    width: 100%;
}



    /*MEDIAQ*/

@media (max-width: 1024px){
    .todosNuestrosProductos{
        flex-direction: column;
        justify-content: center;
    }

    .todosNuestrosProdUno{
        text-align: center;
        width: 100%;
    }

    .todosNuestrosProdDos{
        margin-top: 30px;
        justify-content: center;
        width: 100%;
    }

    .TodosNuestrosP{
        margin: 6%;
        width: 150px;
        height: auto;
        text-align: center;
    }
}
@media (max-width: 950px){
    .productosSeccion {
       display: none;
    }
    .productosListaContenedor{
        width: 100%;
        padding-left:0%;
        text-align: center;
    
    }

    .productosLista{
        justify-content: center;
    }

    .filtroDrop{
        display: contents;
        margin-top: 40px;
        }
        .productos {
          width: 180px;
      }
      .productos img{
        height: auto;
        width: 180px;
      
      }
      .prodoductosContenedor {
        padding-left: 0%;
        padding-right: 0%;
    }
}

@media (max-width: 450px){
    .quienesSomos{
        margin-top: 60px;
        margin-bottom: 60px;
    }

    .quienesSomosTitulo{
        font-size: 1.5rem;
    }

    .quienesSomosSubTitulo{
        font-size: 1.1rem;
    }

    .todosNuestrosProdDos{
     flex-wrap: wrap;
    }

    .TodosNuestrosP{
        width: 100px;
    }

}

@media (max-width: 400px){

    .productos {
        width: 240px;
    }
    .productos img{
      height: auto;
      width: 240px;
    
    }
}

@media (max-width: 320px){

    .TodosNuestrosP{
        width: 150px;
    }
}