.producto .productoDescripcion .productoDescripcionWpp button, .indexImagen .indexImagenTexto button, .indexRevendedores button {
  width: 180px;
  height: 50px;
  font-size: 20px;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  border: 1px solid black;
  background-color: rgba(255, 255, 255, 0);
}

* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
}

header {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 20% 60% 20%;
      grid-template-columns: 20% 60% 20%;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #ebe9e9;
  font-family: "Playfair Display", serif;
  align-items: center;
}

header .headerLogo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

header .headerLogo span {
  font-size: 18px;
  font-weight: bolder;
}

header .headerLogo img {
  width: 42.85px;
  height: 37.71px;
}

header nav ul {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  font-family: "Playfair Display", serif;
}

header nav ul li {
  font-size: 16px;
  text-transform: uppercase;
  height: 21px;
  padding: 2rem;
}

header input {
  padding: 0.4rem;
  width: 60%;
  margin-top: -2px;
  border-radius: 5px;
  border: 1px gray solid;
}

.producto {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50% 50%;
      grid-template-columns: 50% 50%;
  -ms-grid-rows: 650px;
      grid-template-rows: 650px;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  padding-bottom: 3rem;
}

.producto img {
  width: 720px;
  height: 650px;
  opacity: 50%;
}

.producto .productoDescripcion {
  padding: 4rem 0rem 0rem 2rem;
  width: 80%;
  text-align: start;
}

.producto .productoDescripcion .productoDescripcionTitulo {
  font-family: "Playfair Display", serif;
  font-size: 24px;
}

.producto .productoDescripcion .productoDescripcionSubtitulo {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  color: black;
}

.producto .productoDescripcion ul li,
.producto .productoDescripcion p {
  opacity: 75%;
}

.producto .productoDescripcion div {
  padding: 1.5rem 0;
}

.producto .productoDescripcion .productoDescripcionRecomendado {
  border-bottom: 1px solid black;
  border-top: 1px solid black;
}

.producto .productoDescripcion .productoDescripcionRecomendado ul {
  margin-top: 15px;
}

.producto .productoDescripcion .productoDescripcionRecomendado ul li {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 139px;
  height: 40px;
  margin: 2px 0;
  border: 1px solid gray;
}

.producto .productoDescripcion .productoDescripcionPresentacion ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.producto .productoDescripcion .productoDescripcionPresentacion ul li {
  margin-top: 5px;
  border-right: 1px solid rgba(0, 0, 0, 0.746);
  padding: 0px 5px;
}

.producto .productoDescripcion .productoDescripcionWpp {
  padding-top: 4rem;
}

.productoFinal {
  width: 90%;
  margin: 0 auto;
}

.container {
  padding-top: 2rem;
  text-align: center;
}

.container .containerTitulo {
  font-size: 24px;
  text-transform: uppercase;
}

.container ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding: 2em;
}

.container ul li {
  font-size: 17px;
}

.container ul li img {
  background-color: white;
  width: 220px;
  height: 280px;
  opacity: 50%;
}

footer {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 70% 30%;
      grid-template-columns: 70% 30%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem;
  background-color: #ebe9e9;
}

footer div {
  font-size: 14px;
  padding-left: 3.8em;
}

footer .footerRedes {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding-right: 3.8em;
}

footer .footerRedes li {
  padding: 0.2em;
}

@media only screen and (min-width: 0px) and (max-width: 1439px) {
  header {
    -ms-grid-columns: 80% 20%;
        grid-template-columns: 80% 20%;
    height: 80px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  header .headerLogo {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    padding-left: 2rem;
  }
  header .headerLogo span {
    font-size: 25px;
  }
  nav {
    display: none;
  }
  .producto {
    -ms-grid-columns: 100%;
        grid-template-columns: 100%;
    font-size: 25px;
  }
  .producto img {
    width: 100%;
  }
  .producto .productoDescripcion {
    width: 90%;
    padding: 0px;
    font-size: 25px;
    margin: 0 auto;
  }
  .producto .productoDescripcion .productoDescripcionTit {
    text-align: center;
  }
  .producto .productoDescripcion .productoDescripcionTit span {
    font-size: 30px;
  }
  .producto .productoDescripcion .productoDescripcionWpp button {
    width: 100%;
    font-size: 30px;
  }
  .producto .productoDescripcion .productoDescripcionCaracteristicas .productoDescripcionSubtitulo,
  .producto .productoDescripcion .productoDescripcionWpp .productoDescripcionSubtitulo,
  .producto .productoDescripcion .productoDescripcionPresentacion .productoDescripcionSubtitulo,
  .producto .productoDescripcion .productoDescripcionRecomendado .productoDescripcionSubtitulo {
    font-size: 25px;
  }
  .container {
    display: none;
  }
  footer.footerRedes {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: redes;
  }
  .derechosReservados {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: derechos;
    font-size: 17px;
    padding: 0;
  }
  footer {
    display: -ms-grid;
    display: grid;
        grid-template-areas: "redes" "derechos";
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
    -ms-grid-columns: 100%;
        grid-template-columns: 100%;
  }
  ul.footerRedes {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 0;
  }
  ul.footerRedes li i {
    font-size: 30px;
  }
}

/*  INDEX   ---------------------------------------------------------------*/
.indexImagen {
  position: relative;
  width: 100%;
  height: 600px;
  background-color: gray;
}

.indexImagen .indexImagenImagen img {
  width: 1440px;
  height: 600px;
  opacity: 40%;
}

.indexImagen .indexImagenTexto {
  display: block;
  position: absolute;
  top: 30%;
  color: white;
  width: 40%;
  text-align: center;
  margin-left: 30%;
  margin-right: 30%;
}

.indexImagen .indexImagenTexto h1 {
  font-size: 46px;
  font-family: "Playfair Display", serif;
  text-transform: uppercase;
}

.indexImagen .indexImagenTexto p {
  padding: 1rem;
  font-size: 20px;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}

.indexCategorias {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 23% 23% 23%;
      grid-template-columns: 23% 23% 23%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  padding-bottom: 2rem;
  grid-gap: 1rem;
}

.indexCategorias div {
  position: relative;
}

.indexCategorias div img {
  width: 100%;
  max-height: 250px;
  opacity: 40%;
}

.indexCategorias div span {
  width: 50%;
  height: 15%;
  position: absolute;
  top: 42.5%;
  left: 25%;
  font-size: 20px;
  font-family: "Playfair Display", serif;
}

.indexSubtitulo {
  padding-top: 4rem;
  padding-bottom: 2rem;
  text-align: center;
  text-transform: uppercase;
}

div.primero {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: primero;
}

div.segundo {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: segundo;
}

div.tercero {
  -ms-grid-row: 2;
  -ms-grid-column: 3;
  grid-area: tercero;
}

div.cuarto {
  -ms-grid-row: 2;
  -ms-grid-column: 4;
  grid-area: cuarto;
}

h2.tituloEleginos {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-area: eleginos;
}

.indexElegirnos {
  display: -ms-grid;
  display: grid;
      grid-template-areas: "eleginos eleginos eleginos eleginos" "primero segundo tercero cuarto";
  -ms-grid-columns: 17.25% 17.25% 17.25% 17.25%;
      grid-template-columns: 17.25% 17.25% 17.25% 17.25%;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #ebe9e9;
  padding-bottom: 4rem;
}

.indexElegirnos img {
  width: 160px;
  height: 160px;
  border-radius: 100%;
}

.indexElegirnos h3, .indexElegirnos p {
  width: 55%;
  padding: 1rem;
  text-align: center;
  margin: 0 auto;
  font-family: "Playfair Display", serif;
}

.indexElegirnos p {
  width: 90%;
  padding: 0;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}

.indexRevendedores {
  width: 75%;
  text-align: center;
  margin: 0 auto;
}

.indexRevendedores p {
  font-size: 16px;
  padding-bottom: 2rem;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}

.indexRevendedores button {
  margin-bottom: 4rem;
}

@media only screen and (min-width: 1024px) and (max-width: 1440px) {
  .indexCategorias {
    -ms-grid-columns: 35% 35%;
        grid-template-columns: 35% 35%;
  }
  .indexElegirnos {
    display: -ms-grid;
    display: grid;
        grid-template-areas: "eleginos eleginos" "primero segundo" "tercero cuarto";
    -ms-grid-columns: 35% 35%;
        grid-template-columns: 35% 35%;
    grid-gap: 1rem;
  }
}

@media only screen and (min-width: 0px) and (max-width: 1023px) {
  .indexCategorias {
    -ms-grid-columns: 60%;
        grid-template-columns: 60%;
  }
  .indexElegirnos {
    display: -ms-grid;
    display: grid;
        grid-template-areas: "eleginos" "primero" "segundo" "tercero" "cuarto";
    -ms-grid-columns: 60%;
        grid-template-columns: 60%;
    grid-gap: 1rem;
  }
  .indexElegirnos, .indexRevendedores, .indexCategorias {
    font-size: 20px;
  }
  .indexImagenTexto {
    width: 80% !important;
    margin-left: 10% !important;
    margin-right: 10% !important;
  }
}
/*# sourceMappingURL=style.css.map */