$--fuentePrincipal: "Playfair Display", serif;
$--colorPrincipal: rgb(241, 238, 238);
$--fuenteSecundaria: "Roboto", sans-serif;
%btn {
  width: 180px;
  height: 50px;
  font-size: 20px;
  font-family: $--fuenteSecundaria;
  font-weight: 300;
  border: 1px solid black;
  align-items: center;
  flex-direction: row;
  background-color: rgba(255, 255, 255, 0);
}
* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
}
a {
  color: black;
}
header {
  display: grid;
  grid-template-columns: 20% 55% 15% 10%;
  text-align: center;
  align-items: center;
  background-color: $--colorPrincipal;
  font-family: $--fuentePrincipal;
  align-items: center;
  .headerLogo {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    span {
      font-size: 18px;
      font-weight: bolder;
    }
    img {
      width: 42.85px;
      height: 37.71px;
    }
  }
  nav ul {
    display: inline-flex;
    font-family: $--fuentePrincipal;
    font-weight: 600;
    li {
      font-size: 16px;
      text-transform: uppercase;
      height: 21px;
      padding: 2rem;
    }
  }
}

header input {
  padding: 0.4rem;
  width: 60%;
  margin-top: -2px;
  border-radius: 5px;
  border: 1px gray solid;
}
.icono-menu{
  position: relative;
  z-index: 10;
  img{
    vertical-align: top;
    width:30px;
    cursor:pointer;
  }
}
.menu{
  display:none;
}
.content-menu{
  background-color: white;
  box-shadow: 2px 0px 10px 1px grey;
  width:100%;
  height: 100vh;
  top:0;
  left: 0;
  transition: all .5s ease;
  z-index: 11;
  position: absolute;
  text-align:end;
  .salir{
    background-color: rgba(243, 243, 243, 0);
    border:none;
    width:30px;
    padding-top: 2rem;
    font-size:30px;
    padding-right: 2rem;
  }
  ul{
    padding: 25px 0px 20px 0px;
    text-align: start;
    li{
      color:black;
      font-size: 25px;
      font-family: $--fuentePrincipal;
      margin: 10px 50px;
      cursor: pointer;
      padding-bottom: 1rem;
      border-bottom: 1px solid black;
    }
    li:hover{
      background-color: white;
    }
  }
}
div#menu{
  position: fixed;
}
.opacity{
  background-color: white;
  transition: all 5s ease;
}
.active{
  transition: opacity 0.5s ease-out;
  opacity: 0;
  visibility: hidden;
} 
.producto {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 650px;
  font-family: $--fuenteSecundaria;
  font-weight: 300;
  padding-bottom: 3rem;
  img {
    width: 720px;
    height: 650px;
    opacity: 50%;
  }
  .productoDescripcion {
    padding: 4rem 0rem 0rem 2rem;
    width: 80%;
    text-align: start;
    .productoDescripcionTitulo {
      font-family: $--fuentePrincipal;
      font-size: 24px;
    }
    .productoDescripcionSubtitulo {
      font-family: $--fuenteSecundaria;
      font-size: 16px;
      font-weight: 500;
      color: black;
    }
    ul li,
    p {
      opacity: 75%;
    }
    div {
      padding: 1.5rem 0;
    }
    .productoDescripcionRecomendado {
      border-bottom: 1px solid black;
      border-top: 1px solid black;
      ul {
        margin-top: 15px;
        li {
          display: inline-flex;
          justify-content: center;
          align-items: center;
          width: 139px;
          height: 40px;
          margin: 2px 2px;
          border: 1px solid gray;
        }
      }
    }
    .productoDescripcionPresentacion {
      ul {
        display: flex;
        li {
          margin-top: 5px;
          border-right: 1px solid rgba(0, 0, 0, 0.746);
          padding: 0px 5px;
        }
        li:last-child{
          border-right: 0px;
        }
      }
    }
    .productoDescripcionWpp {
      padding-top: 4rem;
      button {
        @extend %btn;
      }
    }
  }
}
.productoFinal {
  width: 90%;
  margin: 0 auto;
}
.container {
  padding-top: 2rem;
  text-align: center;
  .containerTitulo {
    font-size: 24px;
    text-transform: uppercase;
  }
  ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 2em;
    li {
      width: 250px;
      h2{
      height: 50px;
      font-size: 20px;
      }
      img {
        background-color: white;
        width: 100%;
        opacity: 50%;
      }
    }
  }
}
.footer{
  position: fixed;
  bottom:0;
  width: 100%;
  height: 50px;
}
footer {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: 70% 30%;
  align-items: center;
  padding: 1rem;
  background-color: $--colorPrincipal;
  div {
    font-size: 14px;
    padding-left: 3.8em;
  }
  .footerRedes {
    display: inline-flex;
    justify-content: flex-end;
    padding-right: 3.8em;
    li {
      padding: 0.2em;
    }
  }
}
@media only screen and (min-width: 0px) and (max-width: 1439px) {
  header {
    grid-template-columns: 80% 20%;
    height: 80px;
    align-items: center;
    .headerLogo {
      justify-content: start;
      padding-left: 2rem;
      span {
        font-size: 25px;
      }
    }
    nav,
    input {
      display: none;
    }
    .menu{
      display:block;
    }
  }

  .producto {
    grid-template-columns: 100%;
    font-size: 25px;
    img {
      width: 100%;
    }
    .productoDescripcion {
      width: 90%;
      padding: 0px;
      font-size: 25px;
      margin: 0 auto;
      .productoDescripcionTit {
        text-align: center;
        span {
          font-size: 30px;
        }
      }
      .productoDescripcionWpp {
        button {
          width: 100%;
          font-size: 30px;
        }
      }
      .productoDescripcionCaracteristicas,
      .productoDescripcionWpp,
      .productoDescripcionPresentacion,
      .productoDescripcionRecomendado {
        .productoDescripcionSubtitulo {
          font-size: 25px;
        }
      }
    }
  }
  .container {
    display: block;
  }

  footer.footerRedes {
    grid-area: redes;
  }
  .derechosReservados {
    grid-area: derechos;
    font-size: 17px;
    padding: 0;
  }
  footer {
    display: grid;
    grid-template-areas:
      "redes"
      "derechos";
    justify-content: center;
    text-align: center;
    grid-template-columns: 100%;
  }
  ul.footerRedes {
    justify-content: center;
    padding: 0;
    li {
      i {
        font-size: 30px;
      }
    }
  }
}
@media only screen and (min-width: 0px) and (max-width: 425px) {
  header {
    grid-template-columns: 70% 30%;}
    .content-menu{
      li{
        font-size: 20px!important;
      }
   }
}
/*  INDEX   ---------------------------------------------------------------*/

.indexImagen {
  position: relative;
  width: 100%;
  height: 600px;
  background-color: gray;
  .indexImagenImagen {
    img {
      width: 1440px;
      height: 600px;
      opacity: 40%;
    }
  }
  .indexImagenTexto {
    display: block;
    position: absolute;
    top: 30%;
    color: white;
    width: 40%;
    text-align: center;
    margin-left: 30%;
    margin-right: 30%;
    h1 {
      font-size: 46px;
      font-family: $--fuentePrincipal;
      text-transform: uppercase;
    }
    p {
      padding: 1rem;
      font-size: 20px;
      font-family: $--fuenteSecundaria;
      font-weight: 300;
    }
    button {
      @extend %btn;
    }
  }
}
.indexCategorias {
  display: grid;
  grid-template-columns: 23% 23% 23%;
  justify-content: center;
  text-align: center;
  padding-bottom: 2rem;
  grid-gap: 1rem;
  div {
    position: relative;
    img {
      width: 100%;
      max-height: 250px;
      opacity: 40%;
    }
    span {
      width: 50%;
      height: 15%;
      position: absolute;
      top: 42.5%;
      left: 25%;
      font-size: 20px;
      font-family: $--fuentePrincipal;
    }
  }
}
.subtitulo {
  padding-top: 4rem;
  padding-bottom: 2rem;
  text-align: center;
  text-transform: uppercase;
}
div.primero {
  grid-area: primero;
}
div.segundo {
  grid-area: segundo;
}
div.tercero {
  grid-area: tercero;
}
div.cuarto {
  grid-area: cuarto;
}
h2.tituloEleginos {
  grid-area: eleginos;
}
.indexElegirnos {
  display: grid;
  grid-template-areas:
    "eleginos eleginos eleginos eleginos"
    "primero segundo tercero cuarto";
  grid-template-columns: 17.25% 17.25% 17.25% 17.25%;
  text-align: center;
  justify-content: center;
  background-color: $--colorPrincipal;
  padding-bottom: 4rem;
  img {
    width: 160px;
    height: 160px;
    border-radius: 100%;
  }
  h3,
  p {
    width: 55%;
    padding: 1rem;
    text-align: center;
    margin: 0 auto;
    font-family: $--fuentePrincipal;
  }
  p {
    width: 90%;
    padding: 0;
    font-family: $--fuenteSecundaria;
    font-weight: 300;
  }
}
.indexRevendedores {
  width: 75%;
  text-align: center;
  margin: 0 auto;
  p {
    font-size: 16px;
    padding-bottom: 2rem;
    font-family: $--fuenteSecundaria;
    font-weight: 300;
  }
  button {
    @extend %btn;
    margin-bottom: 4rem;
  }
}

@media only screen and (min-width: 1024px) and (max-width: 1440px) {
  .indexCategorias {
    grid-template-columns: 35% 35%;
  }
  .indexElegirnos {
    display: grid;
    grid-template-areas:
      "eleginos eleginos"
      "primero segundo"
      "tercero cuarto";
    grid-template-columns: 35% 35%;
    grid-gap: 1rem;
  }
}
@media only screen and (min-width: 0px) and (max-width: 1023px) {

  .indexCategorias {
    grid-template-columns: 60%;
  }
  .indexElegirnos {
    display: grid;
    grid-template-areas:
      "eleginos"
      "primero" "segundo"
      "tercero" "cuarto";
    grid-template-columns: 60%;
    grid-gap: 1rem;
  }
  .indexElegirnos,
  .indexRevendedores,
  .indexCategorias {
    font-size: 20px;
  }
  .indexImagenTexto {
    width: 80% !important;
    margin-left: 10% !important;
    margin-right: 10% !important;
  }
}
/*CONTACTO -------------------------------------------------------*/
.contactoGrid {
  display: grid;
  grid-template-columns: 35% 40%;
  justify-content: center;
  padding-bottom: 6rem;
  main {
    padding: 3rem;
    h3 {
      text-transform: uppercase;
      font-size: 24px;
      font-family: $--fuentePrincipal;
    }
    p {
      font-size: 16px;
      font-family: $--fuenteSecundaria;
      font-weight: 300;
      padding-top: 2rem;
      width: 85%;
    }
    .contactoGridP {
      padding-top: 1rem;
    }
  }
  article {
    padding-top: 7rem;
    input,
    textarea {
      width: 94%;
      border: rgb(195, 195, 195) 1px solid;
      border-radius: 5px;
      padding: 2%;
      margin: 0.5em;
      font-family: $--fuenteSecundaria;
      font-weight: 300;
    }
    textarea {
      height: 200px;
    }
    div {
      text-align: end;
      .contactoGridBtn {
        @extend %btn;
        border-radius: 0;
      }
    }
  }
}


@media only screen and (min-width: 0px) and (max-width: 1023px) {
 
  .contactoGrid {
    grid-template-columns: 85%;
    padding-bottom: 2rem !important;
    main {
      padding:0;
      p {
        font-size: 16px;
        font-family: $--fuenteSecundaria;
        font-weight: 300;
        padding-top: 2rem;
        width: 100%;
      }
    }
    article {
      padding-top: 0px !important;
      margin: 0rem 2.5rem;
    }
    div {
      text-align: center !important;
      .contactoGridBtn {
        width: 98% !important;
        border-radius: 0;
      }
    }
  }
  input,
  textarea {
    width: 85%;
  }
}


.revendedores{
  width: 60%;
  text-align: start;
  margin: 0 auto;
  .subtitulo{
    text-align: start;
  }
  p{
    font-family: $--fuenteSecundaria;
    font-weight: 300;
    font-style: 16px;
  }
}
@media only screen and (min-width: 0px) and (max-width: 425px) {
   .revendedores{
    width:92%;
   }
}
