<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <!--Estilos-->
    <link rel="stylesheet" href="../scss/style.css">
    <!--Fuentes-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
        integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600&display=swap" rel="stylesheet">
    <title>Contacto</title>
</head>

<body>
    <header>
        <div class="headerLogo">
            <a href="../index.html"><img src="../assets/img/hn.png" alt="logo"></a>
            <span>Herbal Natur</span>
        </div>
        <nav>
            <ul>
                <li><a href="./quienesSomos.html">Quiénes somos</a></li>
                <li><a href="productos.html">Productos</a></li>
                <li><a href="./revendedores.html">Revendedores</a></li>
                <li><a href="#">Contacto</a></li>
            </ul>
        </nav>
        <input type="text" name="buscador" placeholder="Buscar">
        <div class="menu">
            <div class="icono-menu">
                <img src="../img/MenuH.png" class="btn-icono-menu" alt="">
            </div>
               <div class="content-menu active" id="menu">
                <img src="../img/salir.png" class="btn-icono salir" alt="">
                <ul>
                    <li><a href="./quienesSomos.html">Quiénes somos</a></li>
                    <li><a href="./productos.html">Productos</a></li>
                    <li><a href="./revendedores.html">Revendedores</a></li>
                    <li><a href="#">Contacto</a></li>
                </ul>
            </div>
        </div>
    </header>
    <section class="contactoGrid">
        <main>
            <h3>Contactate con nosotros</h3>
            <p>Envianos tu consulta y te responderemos a la brevedad.</p> 
            <p class="contactoGridP">También podés contactarnos por email a <b> herbalnaturcosmeticacapilar@hotmail.com </b>o comunicarte por WhatsApp a los teléfonos <b>+54 9 11 5563-2403</b> ó <b>+54 9 11 6950-8119</b>, de Lunes a Viernes de 9 a 17 hs.</p>
        </main>
        <article>
            <input type="text" placeholder="Nombre y Apellido" required>
            <input type="text" placeholder="E-mail" required>
            <input type="number" placeholder="Teléfono/Celular" required>
            <input type="number" placeholder="Ciudad" required>
            <textarea type="" placeholder="Mensaje" required></textarea>
            <div><input class="contactoGridBtn"type="submit" required></div>
        </article>
    </section>
    <footer class="footer">
        <div class="derechosReservados">
            ©2021 HERBAL NATUR. Todos los derechos reservados.
        </div>
        <ul class="footerRedes">
            <li><i class="fab fa-facebook-f"></i></li>
            <li><i class="fab fa-instagram"></i></li>
        </ul>
    </footer>
</body>
<script src="../js/productos.js"></script>
<script src="../js/menu.js"></script>
</html>