<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <!--Estilos-->
    <link rel="stylesheet" href="../scss/style.css">
    <!--Fuentes-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
        integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600&display=swap" rel="stylesheet">
    <title>Producto</title>
</head>

<body>
    <header>
        <div class="headerLogo">
            <a href="../index.html"><img src="../assets/img/hn.png" alt="logo"></a>
            <span>Herbal Natur</span>
        </div>
        <nav>
            <ul>
                <li><a href="./quienesSomos.html">Quiénes somos</a></li>
                <li><a href="#">Productos</a></li>
                <li><a href="./revendedores.html">Revendedores</a></li>
                <li><a href="./contacto.html">Contacto</a></li>
            </ul>
        </nav>
        <input type="text" name="buscador" placeholder="Buscar">
        <div class="menu">
            <div class="icono-menu">
                <img src="../img/MenuH.png" class="btn-icono-menu" alt="">
            </div>
               <div class="content-menu active" id="menu">
                <img src="../img/salir.png" class="btn-icono salir" alt="">
                <ul>
                    <li><a href="./quienesSomos.html">Quiénes somos</a></li>
                    <li><a href="#">Productos</a></li>
                    <li><a href="./revendedores.html">Revendedores</a></li>
                    <li><a href="./contacto.html">Contacto</a></li>
                </ul>
            </div>
        </div>
    </header>
    <section class="producto">
        <article class="productoImagen"><img src="../assets/img/img.jpeg" alt="producto"></article>
        <article class="productoDescripcion">
            <div class="productoDescripcionTit">
                <span class="productoDescripcionTitulo">Shampoo neutro de almendras</span>
            </div>
            <div class="productoDescripcionCaracteristicas">
                <span class="productoDescripcionSubtitulo">Características</span>
                <p>Para lavados previos a cualquier tratamiento capilar <br> Deja el cabello extremadamente limpio y
                    apto para cualquier tratamiento</p>
            </div>
            <div class="productoDescripcionRecomendado">
                <span class="productoDescripcionSubtitulo">Recomendado para cabellos:</span>
                <ul>
                    <li>Normal</li>
                    <li>Graso</li>
                    <li>Seco</li>
                    <li>Dañado</li>
                    <li>Teñido</li>
                    <li>Con frizz</li>
                </ul>
            </div>
            <div class="productoDescripcionPresentacion">
                <span class="productoDescripcionSubtitulo">Presentación.</span>
                <ul>
                    <li>250 ml</li>
                    <li>500 ml</li>
                    <li>1000 ml</li>
                    <li>5 lt</li>
                </ul>
            </div>
            <div class="productoDescripcionWpp">
                <span class="productoDescripcionSubtitulo">¿Te interesa este producto? Hacé tu pedido por
                    WhatsApp.</span> <br>
                <button><i class="fab fa-whatsapp"></i>Comprar</button>
            </div>
        </article>
    </section>
    <hr class="productoFinal">
    <div class="container">
        <p class="containerTitulo">También podría interesarte:</p>
        <ul class="slider">
            <li><img src="../assets/img/img.jpeg" alt="">
                <p>Nombre del producto</p>
            </li>
            <li><img src="../assets/img/img.jpeg" alt="">
                <p>Nombre del producto</p>
            </li>
            <li><img src="../assets/img/img.jpeg" alt="">
                <p>Nombre del producto</p>
            </li>
        </ul>
    </div>
    <div class="container2">
        <ul class="slider2">
            <li id="slide1">
                <h2>Nombre del producto</h2>
                <img src="../assets/img/ImgProdFalsa.png" alt="">
            </li>
            <li id="slide2">
                <h2>Nombre del producto</h2>
                <img src="../img/ImgProdFalsa3.png" alt="">
            </li>
            <li id="slide3">
                <h2>Nombre del producto</h2>
                <img src="../img/ImgProdFalsa2.png" alt="">
            </li>
        </ul>
        <ul class="menu2">
            <li><a href="#slide1">1</a></li>
            <li><a href="#slide2">2</a></li>
            <li><a href="#slide3">3</a></li>
        </ul>
    </div>
    <footer>
        <div class="derechosReservados">
            ©2021 HERBAL NATUR. Todos los derechos reservados.
        </div>
        <ul class="footerRedes">
            <li><i class="fab fa-facebook-f"></i></li>
            <li><i class="fab fa-instagram"></i></li>
        </ul>
    </footer>
</body>
<script src="../js/menu.js"></script>
</html>